<!doctype html>
<title>Error: {{{error_title}}}</title>
<head>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
	<style media="screen">
	* {
		box-sizing: border-box;
	}

	body {
		text-align: center;
		font-family: "Roboto", sans-serif;
		height: 100vh;
		overflow: hidden;
	}

	main {
		display: inline-block;
		position: relative;;
		top: 50%;
		transform: translateY(-75%);

		text-align: left;
		padding: 30px;
		margin: 0 auto;

		background: #F3F2F2;

		border-left: 5px #FF0000 solid;
	}

	a {
		color: #0000EE !important;
		text-decoration: none;
	}

	a:hover {
		border-bottom: 1px #0000EE solid;
	}
	</style>
	<link rel='shortcut icon' href='/static/img/favicon.ico'>
</head>

<body>
	<main>
		<h1>{{{error_title}}}</h1>
		<p>{{{error_description}}}<p>
		<p><a href='javascript:history.go(-1)'>Back</a> | <a href='/'>Home</a></p>
	</main>
</body>
