<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name=description content="Live scores for the Evolocity electric car competition.">
	<meta name=viewport content='width=device-width, initial-scale=1'>
	<meta name="theme-color" content="#2B78BD">

	<title>Evolocity 2016 Scores</title>
	<link rel="shortcut icon" href="/static/img/favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Lato:400,100|Roboto:400,100' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/style.css" charset="utf-8">

	<style id="bkoffset"></style>
</head>
<body>
	<header>
		<img id="logo" src="/static/img/evolocity-min.jpg" alt="Evolocity logo" title="Evolocity 2016">
		<div id="connection-info">
			<noscript data-status="bad">Javascript Disabled | Data is Static</noscript>
			<script>document.write("Javascript loading...")</script>
		</div>
		<a id="loginlink" href="/judge" title="Judge"><img src="/static/img/icon/judge.svg"></a>
		<br>
	</header>

	<main>
		{{{render}}}
	</main>

	<footer>
		<a id="author" href="https://hollows.xyz" target="_blank" rel="noreferrer">Made by Ben Hollows</a>
	</footer>

	<!-- Scripts -->
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/timeparse.js"></script>
	<script async src="/static/js/main.js"></script>
</body>
</html>
