//var
$text: #FFFFFF;
$text-sub: #6E6E6E;
$theme: #2B78BD;
$background: rgba(0, 0, 0, 0.8);

// Basic HTML elements
* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	background: url("/static/img/background.jpg");
	color: $text;

	font-family: "Roboto", sans-serif;

	&.fullscreen {
		height: 100vh;
		overflow: hidden;
	}
}

a {
	text-decoration: none;
	color: #0000EE;

	&:hover {
		border-bottom: 1px #0000EE solid;
	}
}

// Main Elements
header {
	text-align: center;
	background: #000000;

	#logo {
		width: 40%;

		@media screen and (max-width: 800px) {
			width: calc(100% - 20px);
		}
	}

	#loginlink {
		position: absolute;
		top: 15px;
		right: 15px;

		border: none !important;

		img {
			height: 2em;
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}
	}
}

nav {
	margin: 30px 5% 15px;
}

main {
	margin: 30px calc(5% - 15px) 15px;

	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: row;
	flex-flow: row wrap;

	&.fullscreen {
		margin-top: 0;

		section {
			padding-top: 0;
		}
	}
}

footer {
	background: $background;
	padding: 20px 5%;
	margin-top: 10px;

	font-family: "Lato", "Roboto", sans-serif;

	#author {
		color: #9A9A9A;

		&:hover {
			border-bottom-color: #9A9A9A;
		}
	}
}

// leaderboards

@-webkit-keyframes bg-slide {
    from {
		transform: translateX(0) translateY(0);
	}
    to {
		transform: translateX(-500px) translateY(-500px); //size of background image
	}
}


section {
	flex: 1 0 auto;

	padding: 15px;
	margin: 15px;

	overflow-x: auto;
	position: relative;

	box-shadow: inset 0px 0px 30px black;
	background: url("/static/img/shattered.png") rgba(0, 0, 0, 1);

	h2 {
		text-align: center;
		font-family: "Lato", "Roboto", sans-serif;
		font-weight: 100;
		font-size: 3em;
		text-shadow: 5px 5px 5px black;

		// cursor: pointer;
		padding: 1px 0;

		// &:hover {
		// 	padding: 0;
		// 	border-bottom: 1px #FFFFFF solid;
		// 	border-top: 1px #ffffff solid;
		// }

		img {
			height: 0.7em;
			margin-left: 0.5em;

			&[data-show="normal"] {
				display: inline;
			}
			&[data-show="fullscreen"] {
				display: none;
				float: right;
				margin-right: 20px;
				height: 1.4em;
			}
		}
	}

	&.fullscreen {
		position: absolute;
		background: #252525;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		margin: 0;

		img {
			&[data-show="normal"] {
				display: none;
			}
			&[data-show="fullscreen"] {
				display: inline;
			}
		}

		h2 {
			margin-top: 0;
		}
	}

	@media screen and (max-width: 800px) {
		width: 100%;
		min-width: 100%;
	}
}

// connection status
#connection-info {
	margin: 0 auto;
	color: $text-sub;
	text-align: center;

	span, noscript {
		&[data-status="good"] {
			color: #1DA342;
		}
		&[data-status="bad"] {
			color: #E4552F;
		}
	}
}

.results {
	width: 100%;
	border-collapse: collapse;

	tr {
		td {
			padding: 10px 5px;
			height: 3em;	//masks increased height from superscripted units
		}

		th, td {
			text-align: center;
		    padding: 5px 20px;

			&:first-child {
				font-weight: bold;
			}

			// Team column
			&:nth-child(2) {
				min-width: 220px;
			}

			&:last-child {
				padding-right: 15px;
			}
		}

		&:first-child {			//first result n(1) is header
			th {
				padding-bottom: 0.5em;
			}
			color: $theme;
			font-weight: bold;
			font-size: 1.3em;
			margin-bottom: 2em;
		}

		&:nth-child(2n) {
			background: rgba(255, 255, 255, 0.1);
		}
	}
}

//buttons
button {
	margin: 20px auto;
    padding: 10px 25px;
    color: white;
    border: none;
    background: $theme;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    width: 100%;
	cursor: pointer;

	&:hover {
		background: darken($theme, 5);
	}
}
